// .input {
//   width: 100%;
//   padding: 0.75rem;
//   border: 1px solid #ddd;
//   border-radius: 8px;
//   font-size: 1rem;
//   transition: border-color 0.2s ease;

//   &:focus {
//     border-color: var(--primary-color);
//     outline: none;
//     box-shadow: 0 0 0 2px rgba(255, 214, 0, 0.3);
//   }
// }

.error {
  color: red;
  font-size: 12px;
  margin-top: 0.25rem;
}
