/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+Thai:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --primary-color: #ffcc00;
  --secondary-color: #1e1e1e;
  --text-color: #333333;
  --background-color: #fafafa;
  --button-text-color: #ffffff;
}

html[lang="th"] {
  font-family: "Noto Sans Thai", "Sarabun", Tahoma, Arial, sans-serif;
}
html[lang="en"] {
  font-family: "Inter", "Roboto", Arial, sans-serif;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-primary:hover {
  background-color: #e6b800;
}

.btn-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.input-primary {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.input-primary:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 214, 0, 0.3);
}
